__pycache__/
.idea/
.idea/*

# Unit test / coverage reports
.coverage

# Packages
*.egg
*.egg-info
.eggs/
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
src/

# Pypi
testpypi

# Mypy
.mypy_cache

*.pdf
*.png
*.pyc

generative-poetry-cli.py
files.txt
data/*.txt
